// body background-color: #700000
// content background-color: #eee
// a color: #cc0000
// h1 color: #450000

// konami
.konami {
    color: #fff;
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 5px 5px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=5);
    display: none;
}

.konami .secret{
    background: #007070;
    height: 2em;
    font-size: 0.5em;
    font-family: monospace;
    padding-top: 0.5em;
}
