body {
  background-color: #700000;
  font-family: 'Cantarell', "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
  color: #210000;
  font-size: 1.3em;
  margin:0;
  padding:0;
}

#page {
  background-color: #eee;
  margin: 0 auto;
  width: 960px;
  min-height: 20em;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-box-shadow: 0px 0px 20px #000;
}

#page #header {
  background: transparent url('../images/nh_skyline.png') no-repeat 0px 10px;
  width: 960px;
  height: 327px;
  color: #eee;
  text-align: right;
}

#page #content {
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #cc0000;
  border-bottom: 1px dashed #cc0000;
}

a:hover {
  text-decoration: none;
  color: #cc0000;
  border-bottom: 1px solid #cc0000;
}

h1 {
  color: #cc0000;
  font-variant: small-caps;
}
