<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Cantarell:regular,bold" rel="stylesheet" type="text/css" />
    <link href="css/style.css" media="all" rel="stylesheet" />
  </head>
  <body>
    {{ content }}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25562138-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="js/jquery.jgfeed-min.js" type="text/javascript"></script>
    <script src="js/mustache.js"></script>
    <script src="js/konami.js"></script>
    <script src="js/jquery.linkify-1.0-min.js"></script>
    <script src="js/sitecode.js" type="text/javascript"></script>
  </body>
</html>
